<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
    <target xsi:type="File" name="fileTarget" layout="${longdate}|${machinename}|${processid}|${threadid}|${level:uppercase=true}|${message}|${onexception:EXCEPTION OCCURRED\:${newline}${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}}" fileName="${basedir}/logs/schedulemaster.log" 
            archiveFileName="${basedir}/logs/archives/schedulemaster.${shortdate}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
  </rules>
</nlog>


